/***** Custom CSS *****/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    color: #000000;
    font-family: opensan;
    font-size: 14px;
}
/*---------------------------------  Font  ---------------------------------  */
@font-face {
    font-family: opensan;
    src: url(../fonts/OPENSANS-REGULAR_0.TTF);
}
@font-face {
    font-family: opensan-bold;
    src: url(../fonts/OPENSANS-BOLD_0.TTF);
}
@font-face {
    font-family: opensan-light;
    src: url(../fonts/OPENSANS-LIGHT_0.TTF);
}
/*  ------------------------------------------------------------------------  */
/*---------------------------------- Header --------------------------------  */
#header {
    float: left;
    width: 100%;
    height: 66px;
}
#header_logo a {
    display: block;
    float: left;
    margin-left: 10.7%;
}
#header img {
    float:left !important;
}
#header_logo {
    float: left;
    margin-left: 10.8%;
}
#navigation {
    float: right;
    margin-right: 9.6%;
    height: 100%;
}
#primary {
    height: 100%;
}
#primary li {
    display: block;
    float: left;
    height: 100%;
    border-top: 5px solid #1abc9c;
    font-size: 16px;
}
#primary li a {
    display: block;
    padding: 28px 28px 0 28px;
    height: 100%;
    text-transform: uppercase;
    color: #666666;
}
#primary li.menu-218 {
    border-top: 5px solid #ef6951;
}
#primary li.menu-840 {
    border-top: 5px solid #1abc9c;
}
#primary li.menu-841 {
    border-top: 5px solid #f1c40f;
}
#primary li.menu-842 {
    border-top: 5px solid #3498db;
}
#primary li.menu-843 {
    border-top: 5px solid #2ecc71;
}
#primary li:hover {
    text-decoration: none;
}
#primary li a.active, #primary li a:hover {
    background-color: #cccccc;
    color: #FFFFFF;
    text-decoration: none;
}
#banner_img {
    height:13em;
}
#header-region .form-submit {
    background-color: #98B827;
    color: #FFFFFF;
    padding: 0 10px;
}
#header-region #edit-search-block-form--2 {
    width:170px;
    height:28px;
}


/*  ---------------------------  Header 2  ---------------------------------  */
#header2 {
    float: left;
    padding: 18px 0;
    width: 100%;
    background-color: #f4f4f4;
}
#header2 #header2_slogan {
    float: left;
    margin-left: 10.8%;
    width: 27%;
}
#header2 #header2_info {
    float: right;
    margin-right: 9.6%;
    width: 29.3%;
}
#header2 #header2_slogan p {
    color: #332f3e;
    font-size: 24px;
}
#header2 #header2_info p {
    color: #000000;
    text-align: justify;
    font-size: 14px;
}
/*  ------------------------------------------------------------------------  */

/*  -----------------------  Slideshow + Brand Image  ----------------------  */
#slide_show + img {
    width: 100%;
    height: auto;   
}
/*  ------------------------------------------------------------------------  */

/*  --------------------------  testimonial  -------------------------------  */
#box_testimonial {
    margin-top: 5%;
    height: 520px;
    text-align: center;
}
#testimonial_title {
    margin-bottom: 65px;
    font-size: 36px;
    font-family: opensan-light;
}
.testimonial_content {
    padding: 0 68px;
    color: #020202;
    line-height: 22px;
    font-style: italic;
    font-family: Times New Roman;
    font-size: 16px;
}
.testimonial_content p {
    padding: 5% 5% 0 5%;
}
.testimonial_client_name {
    clear: both;
    float: right;
    margin: 0 5%;
    padding-right: 67px;
    text-transform: uppercase;
}
.div_open_quote {
    float: left;
    width: 68px;
    height: 57px;
    background: url('../images/1_home/opening_quotation.png') no-repeat;
}
.div_close_quote {
    float: right;
    margin-top: -30px;
    width: 68px;
    height: 57px;
    background: url('../images/1_home/closing_quotation.png') no-repeat;
}
#tell_request {
    display: block;
    margin: 15px auto 33px;
    padding: 3px 0;
    width: 85%;
    max-width: 356px;
    background: #ef6951;
    color: #fff;
    line-height: 48px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
/*  ------------------------------------------------------------------------  */


/*  ---------------------------  services  ---------------------------------  */
#box_services {
    float: left;
    margin: 0 auto;
    width: 100%;
    background-color: #f4f4f4;
}
#services_title {
    margin: 50px 0 37px;
    font-family: opensan-light;
    font-size: 36px;
    text-align: center;
}
#services_inner {
    float: left;
    width: 100%;
}
.services_content {
    height: 200px;
    text-align: center;
}
.service_polygon {
    display: block;
    margin: 0 auto;
    width: 86px;
    height: 99px;
    background: url(../images/1_home/polygon.png) no-repeat center;
    line-height: 104px;
}
.service_icon_hover, .service_polygon:hover .service_icon{
    display: none;
}
.service_polygon:hover {
    background: url(../images/1_home/polygon_hover.png) no-repeat center;
    cursor: pointer;
}
.service_polygon:hover .service_icon_hover {
    display: block;
}
.service_detail {
    margin: 13px auto 0 auto;
    max-width: 230px;
    font-size: 18px;
    color: #333333;
}
/*  ------------------------------------------------------------------------  */

#content
{
    padding-left:10px;
}
#header,#sidebar-first,#sidebar-second
{
    background-color: #FFFFFF;
}
#sidebar-second p
{
    color: #817B74;
    line-height: 1.3em;
    font-size:14px;
    text-align: justify;
    padding-left: 8px;
}
#main
{
    clear: both;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
#first-time,#secondary,.breadcrumb,#block-search-form h2
{
    display:none;
}
.left
{
    float:left;
}
.right,.header_right,.column-block-wrapper a
{
    float:right;
}
.clear
{
    clear:both;
}
#content-header h1
{
    color:#5A650F;
    font-size: 19px;
    font-weight: bold;
    margin: 10px 0 0;
    padding:0px;
}
#sidebar-second h2
{
    color:#5A650F;
    font-size: 17px;
    font-weight: bold;
    margin: 12px 0 0 8px;
    padding:0px;
}
.content h2
{
    color:#98b827;
    font-size:16px;
}
#content #content-area .content img
{
    float:left;
    margin-right:8px;
    text-align:justify;
}

/******Css for Page bottom**********/
#bottom-columns .block-title
{
    background-color: #5B650F;
    color:#FFFFFF;
    font-size:18px;
    font-weight:bold;
    margin:0px;
    text-align:center;
    padding:8px 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.column-block-wrapper img
{
    padding:5px;
    float:left;
}
#bottom-columns li
{
    text-align:left;
    line-height: 1.3em;
    margin-left:20px;
    font-size: 13px;
    font-weight:bold;
    color:#000000 !important;
    clear:both;
}
.column-block
{
    margin-bottom: 10px;
    border: 1px solid #95B526;
    background-color: #EBEBEB;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px !important;
    min-height: 300px;
}
#bottom-columns
{
    margin-left:10px;
}
/**********Css for Footer Part***********/
#footer li a
{
    color:#7F7A74;
    font-size: 14px;
}
#footer p
{
    color:#7F7A74;
    font-size: 14px;
    /*margin-left:111px;*/
    text-align:center;
    margin-bottom:2px;  
}
#footer .content
{
    margin-left:20%;
}
.last
{
    border-right:none !important;
}
#footer li
{
    border-right: 1px solid #CCCCCC;
    float: left !important;
    font-size: 14px;
    list-style-type: none;
    padding: 0 5px;

}
#footer
{
    background-color: #FFFFFF;
    padding:15px;
}
/******Css for Socialbar*****/

#socialbar {
    height: 60px;
}
ul.social {
    float: right;
    list-style: none outside none;
    margin: 10px 10px 0;
}
ul.social li {
    float: left;
    margin-left: 10px;
}
/***** CSS of bottom block columns *****/
.column-block-wrapper {
    float: left;

}
/***** CSS of Page Layout  *****/
.one-sidebar.sidebar-first #content {
    margin-left: 27.0213%;
    margin-right: 2.12766%;
    width: 72.9787%;
}
.sidebar-first #sidebar-first {
    margin-left: -102.128%;
}
#sidebar-first {
    margin-left: -66.5957%;
    margin-right: 2.12766%;
    width: 24.8936%;
}
#sidebar-second {
    margin-left: 0;
    margin-right: 2.12766%;
    width: 21.10%;
}

@media only screen and (max-width:768px){
    .testimonial_content, .testimonial_client_name {
        padding: 0 40px;
    }
    .testimonial_content p {
        margin: 0;
        padding: 0;
    }

}